* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --rosewater: #f2d5cf;
  --yellow: #e5c890;
  --crust: #232634;
  --size: 500px;
}

body {
  background-color: var(--crust);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  &::after {
    content: "";
    background-color: rgba(35, 38, 52, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(3, var(--size));
  gap: 40px;
  width: fit-content;
  margin: 40px;
  div[class^="side"] {
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
  div[class^="block"] {
    z-index: 0;
    height: calc(var(--size) / 7);
    clip-path: polygon(
      calc(var(--size) / 7 / 2) 0,
      calc(100% - var(--size) / 7 / 2) 0,
      100% 100%,
      0 100%
    );
    background-image: url(../assets/squared.jpg);
    background-size: var(--size);
    border-bottom: 2px solid var(--rosewater);
    &.block-1 {
      width: calc(var(--size) - var(--size) / 7 * 6);
      background-position: 50% calc(100% - 100% / 6 * 6);
    }
    &.block-2 {
      width: calc(var(--size) - var(--size) / 7 * 5);
      background-position: 50% calc(100% - 100% / 6 * 5);
    }
    &.block-3 {
      width: calc(var(--size) - var(--size) / 7 * 4);
      background-position: 50% calc(100% - 100% / 6 * 4);
    }
    &.block-4 {
      width: calc(var(--size) - var(--size) / 7 * 3);
      background-position: 50% calc(100% - 100% / 6 * 3);
    }
    &.block-5 {
      width: calc(var(--size) - var(--size) / 7 * 2);
      background-position: 50% calc(100% - 100% / 6 * 2);
    }
    &.block-6 {
      width: calc(var(--size) - var(--size) / 7);
      background-position: 50% calc(100% - 100% / 6);
    }
  }
  .base {
    width: var(--size);
    height: calc(var(--size) / 7);
    clip-path: polygon(
      calc(var(--size) / 7 / 2) 0,
      calc(100% - var(--size) / 7 / 2) 0,
      100% 100%,
      0 100%
    );
    background-image: url(../assets/squared.jpg);
    background-size: var(--size);
    background-position: 50% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    user-select: none;
    cursor: default;
    span {
      display: flex;
      background-color: var(--yellow);
      color: var(--crust);
      border: 3px solid var(--crust);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
    }
  }
}
